// Colors
$color1: #78716c;
$color2: #57534e;
$color3: #44403c;

$color4: #3f3f46;
$color5: #27272a;
$color6: #18181b;

$color7: #f8fafc;
$color8: #f1f5f9;
$color9: #e2e8f0;



// Shadows
$shadow1: 0px 5px 5px rgba(0, 0, 0, 0.175);
$shadow2: 0px 5px 15px rgba(0, 0, 0, 0.250);



// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
