.waves {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.3);
}

.wave1 {
  animation: moveWave1 3s ease-in-out infinite alternate;
}

.wave2 {
  animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
}

.wave3 {
  animation: moveWave3 3s 1.5s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
  from {
    transform: translateX(-50px);
  }
}

@keyframes moveWave2 {
  from {
    transform: translateX(50px);
  }
}

@keyframes moveWave3 {
  from {
    transform: translateX(150px);
  }
}
