@import '../sass/variables';
@import '../sass/mixins';

.main {
  padding-top: 0;
  padding-bottom: 6rem;

  section {
    & > svg {
      display: none;
    }

    & > div {
      max-width: 120rem;
      min-height: calc(100vh - 6rem);
      padding: 1rem;
      margin: auto;
      padding-bottom: 5rem;

      display: grid;
      grid-template-rows: 20rem 1fr;
    }

    &:nth-child(odd) {
      background-color: $color7;
    }
    &:nth-child(even) {
      background-color: $color8;
    }

    &:nth-child(4) {
      position: relative;
      overflow: hidden;
    }
  }

  h2 {
    color: $color1;
    text-align: center;
    max-width: 30rem;
    font-size: 4rem;
    padding: 2.5rem;
    margin-inline: auto;
    margin-block: 5rem;
    height: 10rem;
  }
}

@include breakpoint(md) {
  .main {
    padding-top: 6rem;
    padding-bottom: 0;

    section {
      & > svg {
        display: block;
      }
    }
  }
}
